
<app-header titulo="Hola "></app-header>


<ion-content>

    <ion-item>
      <ion-card>
        <ion-item color="primary">
          <ion-icon color="light" slot="start" name="person-circle"></ion-icon>
          <ion-label>{{ persona.nombre || 'Ingrese un Nombre' }} {{ persona.apellido || 'y Apellido'}}</ion-label>
        </ion-item>

    </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-title>{{ persona.carrera || 'Ingrese una Carrera' }}</ion-card-title>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <ion-card-title>{{ persona.sede || 'Ingrese una Sede' }}</ion-card-title>
      </ion-card>
    </ion-item>

    <ion-row>
      <ion-col size="12">

        <ion-button id="login" shape="block" (click)="pasarDatos()">
          Configurar Cuenta
        </ion-button>
      </ion-col>
    </ion-row>


</ion-content>

<app-bottom-nav-bar></app-bottom-nav-bar>