
<app-header [titulo]="usuario.nombreUsuario"></app-header>


<ion-content>



    <ion-card class="ion-text-center">

        <div id="card1" >
          <ion-icon id="user-icon" color="light" name="person-circle-outline"></ion-icon>
        </div>

      <ion-card-content>
        
        <h1>{{ persona.nombre || 'Ingrese un ' }}</h1>
        <h1 class="nombre2">{{ persona.apellido || 'nombre y apellido' }}</h1>
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-text-center">
      <div >
        <img src="./assets/img/sede_padre_alonso.jpg" alt="">
        <h1 id="sede" >Sede</h1>
        

      </div>
      <ion-card-content>
        <h1>{{ persona.sede || 'Ingrese una Sede' }}</h1>

      </ion-card-content>



    </ion-card>
    
    <ion-card>
      <ion-item color="primary" class="ion-text-center">
        <ion-icon color="light" slot="end" name="school"></ion-icon>
        <ion-label class="ion-text-center">Carrera</ion-label>
        
      </ion-item>

      <ion-card-content class="ion-text-center">
        
        <h1>{{ persona.carrera || 'Ingrese una carrera' }}</h1>
      </ion-card-content>
    </ion-card>
  
    <section class="ion-text-center">
      <ion-button size="large" (click)="pasarDatos()">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        Mi Perfil
      </ion-button>
    </section>

    <section class="ion-text-center">
      <ion-button size="large" routerLink="/login" color="danger">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Cerrar Sesion
      </ion-button>
    </section>


</ion-content>

<app-bottom-nav-bar></app-bottom-nav-bar>