
<ion-content>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">


      <ion-card-content>




        <app-login-header
            tituloLogin="Olvidaste"
            tituloLogin2="Tu Contraseña?"
            subtituloLogin="Ingresa un Email"
            subtituloLogin2="Asociado a tu Cuenta Duoc UC"
            ></app-login-header>

        <ion-item>
          <ion-label position="floating" >Email</ion-label>
          <ion-input type="text" ></ion-input>
        </ion-item>

        <ion-row>
          <ion-col size="12">


            <ion-button id="login" shape="block" (click)="mandarEmail()">Recuperar</ion-button>
            <ion-button id="recovery" shape="block"  fill="outline" (click)="volverLogin()" >Volver</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
  
</ion-content>