<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/" text="regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-item>
    <ion-label position="ion-text-">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="persona.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="ion-text">Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="persona.apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="ion-text-">Sede</ion-label>
    <ion-input type="text" [(ngModel)]="persona.sede"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="ion-text">Carrera</ion-label>
    <ion-input type="text" [(ngModel)]="persona.carrera"></ion-input>
  </ion-item>






  <ion-col col-6>
    <ion-button shape="block" routerLink="/cuenta">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>  

      Guardar
    </ion-button>
  </ion-col>

</ion-content>

