
<ion-content>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">
      <app-login-header 
          tituloLogin="BIENVENIDO"
          subtituloLogin="Plataforma de Asistencia Online"
          subtituloLogin2="De Duoc UC 2021"
          
          ></app-login-header>

      <ion-card-content>

        <!-- input user -->
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
        </ion-item>

        <!-- input password -->
        <ion-item >
          <ion-label class="paddingPassword" position="floating" >Password</ion-label>
          <ion-input class="box" type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>


        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label>Recuérdame</ion-label>
              <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
            </ion-item>

            <ion-button id="login" shape="block" (click)="ingresar()">
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>  
              Iniciar Sesión
            </ion-button>
            <ion-button id="recovery" shape="block"  fill="outline" routerLink="/welcome-page">Volver</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
  
</ion-content>