<ion-tabs>




  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="cuenta" routerLink="/cuenta">
      <ion-label>Cuenta</ion-label>
      <ion-icon name="person-circle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="horario" routerLink="/horario">
      <ion-label>Horario</ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="asistencia" routerLink="/asistencia">
      <ion-label>Asistencia</ion-label>
      <ion-icon name="podium"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="ayuda" routerLink="/ayuda">
      <ion-label>Ayuda</ion-label>
      <ion-icon name="help"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>