
<ion-content class="ion-no-padding">

  <ion-list>
    <ion-img src="/assets/icon/logo-registrrapp.svg"></ion-img>
  </ion-list>
  <ion-title>
    <h1>RegistrrApp</h1>

    <div>

  
      <ion-button shape="block" routerLink="/login">
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>  
        Ingresar
      </ion-button>
      <ion-button shape="block"  fill="outline" routerLink="/recovery-password">Recuperar Contraseña</ion-button>
    
  
    </div>


  </ion-title>



  <ion-footer>
    <img src="/assets/icon/logo-duoc.svg">
  </ion-footer>
</ion-content>
