
<ion-content class="ion-padding ion-text-center">
  <div>
    <h1>Sistema de Asistencia <br>
        Online <span style="color: #fcbd1b">Duoc</span> UC
    </h1>
  </div>

  <div>
    <img id="img-welcome" src="./assets/img/welcome-page-img.svg" alt="">

  </div>

  <div>
    <section>
      <ion-button mode="ios" size="large" id="ingresar-button" shape="round" routerLink="/login">
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>  
        Ingresar
      </ion-button>
    </section>
  
    <section>
      <ion-button mode="ios" shape="round" size="large" fill="outline" routerLink="/recovery-password">
        Recuperar
      </ion-button>
    </section>
  
    <section>
      <p>Olvidaste tu Contraseña?</p>
    </section>
  </div>

</ion-content>

<ion-footer class="ion-text-center">
  <img height="100px" width="100px" src="/assets/icon/logo-duoc.svg">
</ion-footer>