h1 {
    font-family: 'Inter-SemiBold';
    font-size: 40px;
}
p {
    
    font-family: 'Inter-SemiBold';
}
ion-input, ion-label {
    font-family: 'Montserrat-Medium';
}

ion-button {

    font-family: 'Montserrat-SemiBold';
}
