



<ion-content>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>Mensaje <br>Enviado!</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>

        <p>Revisa tu Bandeja de entrada y sigue <br>las intrucciones del link :)</p>


        <ion-row>
          <ion-col size="12">
            <ion-button id="recovery" shape="block" (click)="volver()" >Volver</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </div>
  
</ion-content>